html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-right: 1rem;
}

.logo {
  width: 10rem;
}

.nav-items-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items-ul > li {
  font-size: 1.6rem;
  margin-left: 2rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  width: 24rem;
  border: 1px solid rgb(235, 235, 235);
  margin: 1rem;
  border-radius: 4px;
  overflow: hidden;
  padding: 0.5rem;
  transition: box-shadow 0.5s;
}

.res-card:hover {
  box-shadow: 0px 3px 23px #e1e1e1;
  cursor: pointer;
}

.res-image {
  height: 20rem;
  width: 100%;
}

.filterContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
}
.filter {
  margin-right: 15rem;
  border: 1px solid #eee;
  padding: 1rem;
  background-color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}
.filter:hover {
  background-color: #cecdcd;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.shimmer-card {
  height: 30rem;
  width: 25rem;
  background-color: #eee;
  border-radius: 4px;
}

.login-btn {
  margin-left: 1rem;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
}

.login-btn:hover {
  background-color: rgb(187, 187, 187);
}

.search-container {
  margin-right: 2rem;
  width: 20%;
  display: flex;
}

#search-box {
  padding: 6px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-right: 5px;
  flex-grow: 10;
}

.search-btn {
  padding: 6px;
  border: 1px solid grey;
  border-radius: 3px;
  flex-grow: 2;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #cecdcd;
}
